* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}

/* custom Styles */
.white {
  background-color: #f0f0f0;
}

.mainLogo span {
  color: coral;
}
.mainLogo {
  display: flex;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* For Desctops */
@media (min-width: 1024px) {
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .headerMob {
    display: none;
  }
  .headerDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    width: 30%;
  }
  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
  .navbar ul li a {
    padding: 15px 35px;
  }
  .navbar ul li a:hover {
    color: rgb(54, 75, 205);
  }
  .navbar ul li .active {
    color: rgb(54, 75, 205);
    padding: 15px 35px;
    border-bottom: solid 4px rgb(54, 75, 205);
  }

  .settingBar ul {
    display: flex;
    align-items: center;
  }
  .settingBar ul li:first-child {
    margin-right: 10px;
  }
  .settingBar ul li:last-child {
    margin-left: 10px;
  }
  .settingBar ul li:nth-child(2) {
    margin-right: 10px;
  }

  .settingBar ul li button {
    display: flex;
    font-size: 17px;
  }
  .settingBar ul li .setbut {
    padding: 11px;
    border-radius: 50%;
  }
  .settingBar ul li .setbutact {
    padding: 7px;
    border: royalblue solid 4px;
    border-radius: 50%;
  }
  .settingBar ul li .setbut:hover {
    color: rgb(54, 75, 205);
  }

  .settingBar ul li .logbut {
    padding: 11px;
    border-radius: 50%;
  }
  .settingBar ul li .logbutact {
    padding: 7px;
    border: royalblue solid 4px;
    border-radius: 50%;
  }
  .settingBar ul li .logbut:hover {
    color: rgb(54, 75, 205);
  }

  .settingBar ul li .sigbut {
    padding: 11px;
    border-radius: 50%;
  }
  .settingBar ul li .sigbutact {
    padding: 7px;
    border: royalblue solid 4px;
    border-radius: 50%;
  }
  .settingBar ul li .sigbut:hover {
    color: rgb(54, 75, 205);
  }

  #toggle-dark-mode {
    padding: 1px 3px;
    border-radius: 20px;
    font-size: 17px;
    background-color: coral;
  }
  #toggle-dark-mode i {
    border-radius: 50%;
    padding: 3px;
  }
  #toggle-dark-mode i:first-child {
    padding-right: 10px;
  }
  #toggle-dark-mode .iact {
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
}

/* For Tablets */
@media (max-width: 1024px) and (min-width: 481px) {
  .container {
    display: flex;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
  }
  .headerMob {
    display: none;
  }

  .headerDesc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
  .navbar ul li a {
    padding: 15px 35px;
  }
  .navbar ul li a:hover {
    color: rgb(54, 75, 205);
  }
  .navbar ul li .active {
    color: rgb(54, 75, 205);
    padding: 15px 35px;
    border-bottom: solid 4px rgb(54, 75, 205);
  }

  .settingBar {
    display: none;
  }
}

/* For Mobile phones */
@media (max-width: 480px) {
  .container {
    display: flex;
    width: 93%;
    margin: 0 auto;
  }

  .headerDesc {
    display: none;
  }
  .sidebar {
    display: block;
    background: #222;
    position: fixed;
    width: 45%;
    height: 100%;
    top: 0;
    right: -200px;
    transition: all 0.3s ease-in-out;
  }
  .actnav {
    display: block;
    background: #222;
    position: fixed;
    width: 45%;
    height: 100%;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
  }
  .actnav .close-sidebar {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 20px;
    background-color: #080808;
    color: white;
  }
}
.dark {
  background-color: rgb(8, 10, 23);
  color: white;
}
.black {
  background-color: rgb(2, 2, 12);
  color: white;
}
.none {
  display: none;
}
