*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: violet;
}
.dark{
    background-color: rgb(31, 30, 30);
    color: white;
}
